#navigation{
	width:140px
}

#navigation table{
	width:100%
}

#navigation input{
	width:100%
}

#content{
	background-color:white;
	width:400px;
	height:400px;
	border: 1px solid black;
	margin:none;
}

.highlighted {
	border-radius:100%;
	border:yellow solid 4px;
	z-index: 9999;
}
.highlighteddiv {
	background-color: yellow !important;


}

div .ui-selecting { background: #FECA40; }

div .ui-selected { background: #F39814; color: white; }
